name: Docker Compose


on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu:latest
    if: contains(github.event.head_commit.message, 'backend')
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run Docker Compose
        run: docker compose up -d backend, db
